<!DOCTYPE html>
<html>
<head>
  <title>JcropAhead</title>
  <%= stylesheet_link_tag    "jcrop_ahead/application", media: "all" %>
  <%= javascript_include_tag "jcrop_ahead/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
